@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
  padding: 8px;
  font-size: 14px;
}

ul {
  list-style: none;
  align-items: space-between;
  padding: 0px 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.right-links {
  margin-left: auto;
}

.right-links,
.left-links {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer {
  display: flex;
  background-color: #eee;
  margin-top: auto;
}